.loader{
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.loader__item{
  background-image: url(../../assets/images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 70px;
  width: 70px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.loader--none{
  display: none;
}

.shots__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.shots__list-item{
  padding: 10px 15px;
  position: relative;
  width: 25%;
  list-style: none;
}

.shots__list-item-img {
  max-height: 310px;
  width: 100%;
  cursor: pointer;
}

.shots__list-item-link{
  display: block;
}

.shot-description{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 94%;
  height: 94%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.shots__list-item:hover .shot-description{
  opacity: 1;
  padding: 10px 15px;
  color: #fff;
}
