<!-- loader -->
<div class="loader" [ngClass]="{'loader--none':isLoader}">
  <div class="loader__item"></div>
</div>
<!-- shots -->
<div class="shots">
  <ul class="shots__list">
    <li class="shots__list-item animate" *ngFor="let shot of shots;"  appAnimate>
      <!-- img -->
      <a class="shots__list-item-link" >
        <img class="shots__list-item-img"
             src="{{shot?.thumbnail}}"
             alt="{{shot?.title}}" >
      </a>
      <!--I decided to create a new component to share the logic-->
      <app-download-shot class="shot-description" [shotName]="shot.title" [shotLink]="shot.thumbnail"></app-download-shot>
    </li>
  </ul>
</div>

