<!--&lt;!&ndash; SortByPipe&ndash;&gt;-->
<!--<h2>appFilter</h2>-->
<!--<ul>-->
  <!--<li *ngFor="let user of users | appFilter:'age':37">-->
    <!--<span>{{user.age}}</span>-->
  <!--</li>-->
<!--</ul>-->
<!--&lt;!&ndash; array &ndash;&gt;-->
<!--<h2>array</h2>-->
<!--<ul>-->
  <!--<li *ngFor="let user of users | appFilter:['active', true]">-->
    <!--<span>{{user.active}}</span>-->
  <!--</li>-->
<!--</ul>-->

<!--&lt;!&ndash; SortByPipe&ndash;&gt;-->
<!--<h2>SortByPipe</h2>-->
<!--<ul>-->
  <!--<li *ngFor="let user1 of users1 | appSortBy:'likes'; ">-->
    <!--<span>{{user1.likes}}</span>-->
    <!--<span>{{user1.name}}</span>-->
  <!--</li>-->
<!--</ul>-->
