.shots__list{
  display: flex;
  flex-wrap: wrap;
}

.shots__list-item{
  width: 25%;
  list-style: none;
  padding: 10px 15px;
}

.shots__list-item-img {
  max-height: 310px;
  cursor: pointer;
}

.shots__list-item-link{
  display: block;
}

